fastapi==0.128.0
uvicorn==0.40.0
python-dotenv==1.2.1
pydantic==2.12.5
typing_extensions==4.15.0
tiktoken==0.7.0
# DB
chromadb==1.4.0

# PDF
PyMuPDF==1.26.7
pdfplumber==0.11.9

# Gemini
google-generativeai==0.8.5
google-api-core==2.30.3
google-auth==2.50.0
googleapis-common-protos==1.72.0
protobuf==5.29.5

# Embeddings (FIXED)
sentence-transformers==2.7.0
transformers==4.38.2
huggingface_hub==0.23.4

# Utils
numpy==2.4.0
requests==2.32.5
tqdm==4.67.1

# Auth
passlib==1.7.4
bcrypt==4.0.1

# Upload
python-multipart==0.0.22

# Optional
rich==14.2.0
